= render :partial => "layouts/tabs",                                                                            |
           :locals => {                                                                                         |
             :selected => selected,                                                                             |
             :links => [                                                                                        |
               {:id => :common_data, :title => t('.common_data'), :url=> edit_experiment_session_path(@experiment, @session)},        |
               {:id => :reminders, :title => t('.reminders'), :url => reminders_experiment_session_path(@experiment, @session)}  |
             ]                                                                                                  |
           }                                                                                                    |

