$('#sessions').html(
  '<%= escape_javascript(render :partial => "list", :locals => {:edit_session => @session, :sessions => @sessions}) %>'
);

<% if flash[:message]  %>
  $('.flash').html("<div class='alert'><%= flash[:message]%></div>").show()
<% end %>

<% if @session %>
  // initialize datetime picker
  $('#session_start_date').datetimepicker({
    	hour: 12,
    	minute: 0
  });

  // add form element for end time
  $("#session_duration").after(' <span id="end_time"></span>');
  $("#session_start_date").after(' <div id="overlap_info"></div>');

  // run once on load
  update_end_time();
  load_overlaps();

  // update on change of session duration or time
  $('#session_duration, #session_start_date, #session_location_id, #session_time_before, #session_time_after').change(function() {
    update_end_time();  
    load_overlaps();
  });

  // update end time
  function update_end_time() {
    $("#end_time").html("test");
    res = $('#session_start_date').val().match(/(\d\d):(\d\d)/);

    if (res) {
      newminutes = res[1]*60 + res[2]*1 + $("#session_duration").val()*1;
      minutes = newminutes % 60;
      hours = Math.floor(newminutes / 60) % 24;
    
      if (minutes < 10) minutes = "0"+minutes;
      if (hours < 10) hours = "0"+hours;
    
      target_time = hours+":"+minutes;
    
      $("#end_time").html(" (Sessionende "+target_time+")");
    }
  } 
  
  // load overlap information
  function load_overlaps() {
    $("#overlap_info").load(
      "sessions/overlaps",
      {
        start_date:  $("#session_start_date").val(),
        duration:    $("#session_duration").val(), 
        id:  $("#session_id").val(),
        location_id: $("#session_location_id").val(),
        time_before: $("#session_time_before").val(),
        time_after:  $("#session_time_after").val()
      }
    );
  }
<% end %>


<% if flash[:id]  %>
  $('#session<%= flash[:id] %>').effect("highlight", {}, 3000);
<% end %> 