
- index = 1
.page    
  %h3
    =t '.header'
    = @session.time_str

  - if @session.location
    = @session.location.name 

-if @users.count > 0
  = render :partial => "shared/print", :locals => {:users => @users, :columns => Rails.configuration.session_participants_table_print_columns, :red => true}
  