.row
  .span6
    %h2=t '.email_for_registration'
    
    %br  
    %p=t '.resend'
    %br
    = simple_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post, :class => 'form-vertical' }) do |f|
      =t :email
      %br
      = f.input :email, :label => false
      %br
      = f.submit t('.resend_link'), :class => "btn btn-primary"

  .span4
    = render :partial => "devise/shared/links" 

