%h1
  Aktivierung

%br
Es wurde soeben eine E-Mail an Ihre Adresse
%b
  = @activation_user.import_email
gesendet. Bitte bestätigen Sie Ihre E-Mail-Adresse, in dem Sie den Link in der E-Mail in Ihrem Browser aufrufen.
