%h1
  Freischaltung

%br

%p
  Auf dieser Seite können Sie Ihren Account freischalten.

%p
  In unserem neuen Rekrutierungs- und Einladungssystem ist es erforderlich, dass Sie sich mit Ihrer E-Mail-Adresse und einem Passwort anmelden.
%p
  Wählen Sie dazu bitte ein Passwort:
%br
%br
= simple_form_for @activation_user, :html => {:class => "form-horizontal"}, :url => '' do |f| 
  = f.input :password
  = f.input :password_confirmation, :hint => "mindestens 8 Zeichen, mindestens eine Zahl, ein Buchstabe, ein Sonderzeichen"
  %br
  = f.submit "Passwort speichern und Account freischalten", :class => "btn btn-primary"

