- if @language.new_record?
  - url = languages_path
- else
  - url = language_path(@language)
  
= simple_form_for @language, {:html => {:class => "guarded_form form-horizontal"}, :url => url} do |f| 
  = f.input :name, :required => false, :input_html => { :class => 'span4' }
  %br
  = f.submit t(:save), :class => "guarded_form_save btn btn-primary"
