= content_for :breadcrumb do
  %ul.breadcrumb
    %li
      =link_to "Administration", :controller => "admin", :action => "index"
      %span.divider
        &gt;
    %li.active
      Einstellungen
  
= render :partial => "options/tabs", :locals => {:selected => "Sprachen"}

