%h3
  =t '.header'
  = @experiment.name
%br


- if params[:search]
  - filter_setting_str = HistoryEntry.get_filter_setting_string(params[:search])

  - if filter_setting_str.count > 0
    =t('.filter_settings')+':'
    - HistoryEntry.get_filter_setting_string(params[:search]).each do |tx|
      %span.badge= tx
    %br
    %br



-if @users.count > 0
  = render :partial => "shared/print", :locals => {:users => @users, :columns => Rails.configuration.participants_table_print_columns}
  