= render :partial => "shared/messaging"   

= link_to t('.new_user'), new_user_path, :class =>"btn btn-primary", :style => "float:right"

%h1
  =t :user
  
%br

= form_tag users_path, :method => 'post', :id => "user_search" do
  #users
    = render 'users'
