%h1
  Anmeldung zur Teilnahme an hroot
  
= form_for @user, :url => users_path do |f| 
  = #f.error_messages :header_message => ""
  = render :partial => "form", :object => f 
  = f.submit "Anmeldung absenden" 
