= content_for :breadcrumb do
  %ul.breadcrumb
    %li
      =link_to t(:administration), :controller => "admin", :action => "index"
      %span.divider
        &gt;
    %li.active
      =t :settings
  
= render :partial => "tabs", :locals => {:selected => :general} 

.row
  .span10
    todo nichts hier im Moment  