#fgender.filter-block{:style => filter_style('fgender')}
  = render :partial => 'shared/close_link', :locals => {:name => 'fgender'} 
  = hidden_field_tag "active[fgender]", params[:active][:fgender]
  Geschlecht:
  %br
  = select_tag :gender, options_for_select({"männlich" => 'm', "weiblich" => 'f', 'keine Angabe' => '?'}, params[:gender]), :class => "span2"
