#fpreference.filter-block{is_enabled(:preference)}
  %p
    Experiment-Präferenz:
  = select_tag 'filter[preference]', options_for_select({"Nur Teilnehmer, die an Präsenz-Experimenten teilnehmen wollen" => 1, "Nur Teilnehmer, die an Online-Experimenten teilnehmen wollen" => 2}, params[:filter][:preference]), {:style => "width: 650px"}
