#fparticipated.filter-block{:style => filter_style('fparticipated')}
  = render :partial => 'shared/close_link', :locals => {:name => 'fparticipated'} 
  = hidden_field_tag "active[fparticipated]", params[:active][:fparticipated]
  Anzahl Teilnahmen
  %br
  = select_tag :participated_op, options_for_select(["<=", ">"], params[:participated_op]), :class => "span1"
  = select_tag :participated, options_for_select((0..10), params[:participated]), :class => "span1"