#fgender.filter-block{is_enabled(:gender)}
  Geschlecht:
  %br
  = select_tag 'filter[gender]', options_for_select({"männlich" => 'm', "weiblich" => 'f', 'keine Angabe' => '?'}, params[:filter][:gender]), :class => "span2"
