#fstudy.filter-block{is_enabled(:study_op)}
  = select_tag 'filter[study_op]', options_for_select(["Nur", "Ohne"], params[:filter][:study_op])
  Teilnehmer aus folgenden Studienfächern:
  %br
  = select_tag 'filter[study]', options_for_select(Study.all.map{|s| [s.name, s.id]}, params[:filter][:study]), {:include_blank => true, :multiple => true, :class => "chzn-select", :'data-placeholder' => "Studienfächer...", :style=>"width:650px"}