#fdegree.filter-block{is_enabled(:degree_op)}
  = select_tag 'filter[degree_op]', options_for_select([[t('filter.only'),1], [t('filter.without'),2]], params[:filter][:degree_op])
  =t 'filter.title_degrees'
  %br
  = select_tag 'filter[degree]', options_for_select(Degree.all.map{|s| [s.name, s.id]}, params[:filter][:degree]), {:include_blank => true, :multiple => true, :class => "chzn-select", :'data-placeholder' => t('filter.hint_degrees'), :style=>"width:650px"}