#fnoshow.filter-block{:style => filter_style('fnoshow')}
  = render :partial => 'shared/close_link', :locals => {:name => 'fnoshow'} 
  = hidden_field_tag "active[fnoshow]", params[:active][:fnoshow]
  Anzahl Nichterscheinen
  %br
  = select_tag :noshow_op, options_for_select(["<=", ">"], params[:noshow_op])
  = select_tag :noshow, options_for_select((0..10), params[:noshow])