#fbirthday.filter-block{is_enabled(:birthday_von_month)}
  =t 'filter.title_birthday'
  %br
  =t 'filter.from'
  = select_tag 'filter[birthday_von_month]', options_for_select((1..12), params[:filter][:birthday_von_month]), {:include_blank => true, :class => "span1"}
  = select_tag 'filter[birthday_von_year]', options_for_select((Time.now.year-65..Time.now.year-16), params[:filter][:birthday_von_year]), {:include_blank => true, :class => "span1"}
  =t 'filter.to'
  = select_tag 'filter[birthday_bis_month]', options_for_select((1..12), params[:filter][:birthday_bis_month]), {:include_blank => true, :class => "span1"}
  = select_tag 'filter[birthday_bis_year]', options_for_select((Time.now.year-65..Time.now.year-16), params[:filter][:birthday_bis_year]), {:include_blank => true, :class => "span1"}