- @session_participations_in_the_future = user.session_participations |
    .includes(:session)                                        |
    .where("session_id IS NOT NULL AND sessions.start_at > NOW()") |
    .all                                                            |
  
- if @session_participations_in_the_future.count > 0
  %h3 Sie sind zu folgenden Experimenten verbindlich angemeldet:
  - @session_participations_in_the_future.each do |sp|
    .line
      = sp.session.time_str
      %br
      %small= sp.session.location.name if sp.session.location
  %br
  %br