.text-insertions{:'data-element-id' => element_id}
  .btn-group
    %a.btn.dropdown-toggle{:'data-toggle' => 'dropdown', :href => '#'}
      =t :insert_data
      %span.caret
    
    %ul.dropdown-menu.insertion-menu
      - data.each do |name|
        %li= link_to name, "", :class => 'insert_text', :'data-name' => name
