/ todo i18n und auslagern
= content_for :breadcrumb do
  %ul.breadcrumb
    %li
      = link_to t(:root_page), root_path
      %span.divider
        &gt;
    %li.active
      =t :site_credits_and_contact 
      
%p=t :contact_information_html  

%h2=t '.software'
%p=t '.software_html'






  