= content_for :breadcrumb do
  %ul.breadcrumb
    %li
      = link_to t(:root_page), root_path
      %span.divider
        &gt;
    %li.active
      =t :site_credits_and_contact 
   
- if Settings.credits_text && Settings.credits_text[I18n.locale.to_s]    
  %p=raw Settings.credits_text[I18n.locale.to_s]    

%h2=t '.software'
%p=t '.software_html'






  