%h2=t '.activation_for_experiments'

%br
=t '.activation_info1'
%br
%br

= form_tag '' do
  %h3=t '.activation_info2'
  %br
  = text_field_tag :email, params[:email_insert]

  = submit_tag t('.send_email'), :class => "btn btn-primary"