#state
  - if @experiment.registration_active?
    = button_tag "Anmeldung ist aktiv", :id => "state_button_disable", :'data-id' => @experiment.id, :class => "btn btn-success"    
  - else
    = button_tag "Anmeldung ist nicht aktiv", :id => "state_button_enable", :'data-id' => @experiment.id, :class => "btn btn-danger"
