  
%br  
%br

= render :partial => "layouts/tabs",                                                                            |
           :locals => {                                                                                         |
             :selected => selected,                                                                             |
             :links => [                                                                                        |
               {:title => "Sessions", :url => experiment_sessions_path(@experiment)},                           |
               {:title => "Allgemeine Daten", :url=>edit_experiment_url(@experiment)},                          |
               {:title => "Zugeordnete", :url => experiment_participants_path(@experiment)},                    |
               {:title => "Poolmitglieder zuordnen", :url => manage_experiment_participants_path(@experiment)}, |
               {:title => "Mailtexte", :url => mail_experiment_path(@experiment)},                      |
               {:title => "Einladungsversand", :url => invitation_experiment_path(@experiment)}                       |
             ]                                                                                                  |
           }                                                                                                    |

