= content_for :breadcrumb do
  = render :partial => "layouts/crumb", :object => [           |
      link_to(t(:experiments_header), experiments_path),                 |
      t('experiments.new_experiment')]


%h1=t 'experiments.new_experiment'

%br
%br

= render 'form' 
