.filelist_container {
  position: relative;
}

#files {
  padding: 8px;
  min-height: 100px;
  border: 1px solid black;  
}

#dropzone {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 100%;
}

.dropinfo {
  margin: 10px;
  border: 5px dashed #aaaaaa;
  padding-top: 30px;
  display: block;
  font-size: 30px;
  text-align: center;
  height: 80%;
}

.progress {
  display:inline-block;
  width: 400px;
}

.statusbar {
    border-top:1px solid #A9CCD1;
    min-height:25px;
    xwidth:700px;
    padding:30px 10px 0px 10px;
    vertical-align:top;
}
/*.statusbar:nth-child(odd){
    xbackground:#EBEFF0;
}*/
.filename {
  display:inline-block;
  vertical-align:top;
  width: 330px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow:ellipsis;
}

.filesize {
  display:inline-block;
  vertical-align:top;
  color:#30693D;
  width:100px;
  margin-left:10px;
  margin-right:5px;
}

.abort-button {
  display:inline-block;
  vertical-align:top;
  color:#30693D;
  width:10px;
  margin-left:10px;
  margin-right:5px;
  
}

.abort {
  margin-left:20px;
    background-color:#A8352F;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;display:inline-block;
    color:#fff;
    font-family:arial;font-size:13px;font-weight:normal;
    padding:4px 15px;
    cursor:pointer;
    vertical-align:top
}


UL.jqueryFileTree {
	font-family: Verdana, sans-serif;
	font-size: 11px;
	line-height: 18px;
	padding: 0px;
	margin: 0px;
}

UL.jqueryFileTree LI {
	list-style: none;
	padding: 0px;
	padding-left: 20px;
	margin: 0px;
	white-space: nowrap;
  overflow: hidden;
}

UL.jqueryFileTree A {
	color: #333;
	text-decoration: none;
	display: block;
	padding: 0px 2px;
}

UL.jqueryFileTree A:hover {
	background: #BDF;
}

/* Core Styles */
.jqueryFileTree LI.directory { background: url(/assets/filetypes/directory.png) left top no-repeat; }
.jqueryFileTree LI.expanded { background: url(/assets/filetypes/folder_open.png) left top no-repeat; }
.jqueryFileTree LI.file { background: url(/assets/filetypes/file.png) left top no-repeat; }
.jqueryFileTree LI.wait { background: url(/assets/filetypes/spinner.gif) left top no-repeat; }
/* File Extensions*/
.jqueryFileTree LI.ext_3gp { background: url(/assets/filetypes/film.png) left top no-repeat; }
.jqueryFileTree LI.ext_afp { background: url(/assets/filetypes/code.png) left top no-repeat; }
.jqueryFileTree LI.ext_afpa { background: url(/assets/filetypes/code.png) left top no-repeat; }
.jqueryFileTree LI.ext_asp { background: url(/assets/filetypes/code.png) left top no-repeat; }
.jqueryFileTree LI.ext_aspx { background: url(/assets/filetypes/code.png) left top no-repeat; }
.jqueryFileTree LI.ext_avi { background: url(/assets/filetypes/film.png) left top no-repeat; }
.jqueryFileTree LI.ext_bat { background: url(/assets/filetypes/application.png) left top no-repeat; }
.jqueryFileTree LI.ext_bmp { background: url(/assets/filetypes/picture.png) left top no-repeat; }
.jqueryFileTree LI.ext_c { background: url(/assets/filetypes/code.png) left top no-repeat; }
.jqueryFileTree LI.ext_cfm { background: url(/assets/filetypes/code.png) left top no-repeat; }
.jqueryFileTree LI.ext_cgi { background: url(/assets/filetypes/code.png) left top no-repeat; }
.jqueryFileTree LI.ext_com { background: url(/assets/filetypes/application.png) left top no-repeat; }
.jqueryFileTree LI.ext_cpp { background: url(/assets/filetypes/code.png) left top no-repeat; }
.jqueryFileTree LI.ext_css { background: url(/assets/filetypes/css.png) left top no-repeat; }
.jqueryFileTree LI.ext_doc { background: url(/assets/filetypes/doc.png) left top no-repeat; }
.jqueryFileTree LI.ext_exe { background: url(/assets/filetypes/application.png) left top no-repeat; }
.jqueryFileTree LI.ext_gif { background: url(/assets/filetypes/picture.png) left top no-repeat; }
.jqueryFileTree LI.ext_fla { background: url(/assets/filetypes/flash.png) left top no-repeat; }
.jqueryFileTree LI.ext_h { background: url(/assets/filetypes/code.png) left top no-repeat; }
.jqueryFileTree LI.ext_htm { background: url(/assets/filetypes/html.png) left top no-repeat; }
.jqueryFileTree LI.ext_html { background: url(/assets/filetypes/html.png) left top no-repeat; }
.jqueryFileTree LI.ext_jar { background: url(/assets/filetypes/java.png) left top no-repeat; }
.jqueryFileTree LI.ext_jpg { background: url(/assets/filetypes/picture.png) left top no-repeat; }
.jqueryFileTree LI.ext_jpeg { background: url(/assets/filetypes/picture.png) left top no-repeat; }
.jqueryFileTree LI.ext_js { background: url(/assets/filetypes/script.png) left top no-repeat; }
.jqueryFileTree LI.ext_lasso { background: url(/assets/filetypes/code.png) left top no-repeat; }
.jqueryFileTree LI.ext_log { background: url(/assets/filetypes/txt.png) left top no-repeat; }
.jqueryFileTree LI.ext_m4p { background: url(/assets/filetypes/music.png) left top no-repeat; }
.jqueryFileTree LI.ext_mov { background: url(/assets/filetypes/film.png) left top no-repeat; }
.jqueryFileTree LI.ext_mp3 { background: url(/assets/filetypes/music.png) left top no-repeat; }
.jqueryFileTree LI.ext_mp4 { background: url(/assets/filetypes/film.png) left top no-repeat; }
.jqueryFileTree LI.ext_mpg { background: url(/assets/filetypes/film.png) left top no-repeat; }
.jqueryFileTree LI.ext_mpeg { background: url(/assets/filetypes/film.png) left top no-repeat; }
.jqueryFileTree LI.ext_ogg { background: url(/assets/filetypes/music.png) left top no-repeat; }
.jqueryFileTree LI.ext_pcx { background: url(/assets/filetypes/picture.png) left top no-repeat; }
.jqueryFileTree LI.ext_pdf { background: url(/assets/filetypes/pdf.png) left top no-repeat; }
.jqueryFileTree LI.ext_php { background: url(/assets/filetypes/php.png) left top no-repeat; }
.jqueryFileTree LI.ext_png { background: url(/assets/filetypes/picture.png) left top no-repeat }
.jqueryFileTree LI.ext_ppt { background: url(/assets/filetypes/ppt.png) left top no-repeat; }
.jqueryFileTree LI.ext_psd { background: url(/assets/filetypes/psd.png) left top no-repeat; }
.jqueryFileTree LI.ext_pl { background: url(/assets/filetypes/script.png) left top no-repeat; }
.jqueryFileTree LI.ext_py { background: url(/assets/filetypes/script.png) left top no-repeat; }
.jqueryFileTree LI.ext_rb { background: url(/assets/filetypes/ruby.png) left top no-repeat; }
.jqueryFileTree LI.ext_rbx { background: url(/assets/filetypes/ruby.png) left top no-repeat; }
.jqueryFileTree LI.ext_rhtml { background: url(/assets/filetypes/ruby.png) left top no-repeat; }
.jqueryFileTree LI.ext_rpm { background: url(/assets/filetypes/linux.png) left top no-repeat; }
.jqueryFileTree LI.ext_ruby { background: url(/assets/filetypes/ruby.png) left top no-repeat; }
.jqueryFileTree LI.ext_sql { background: url(/assets/filetypes/db.png) left top no-repeat; }
.jqueryFileTree LI.ext_swf { background: url(/assets/filetypes/flash.png) left top no-repeat; }
.jqueryFileTree LI.ext_tif { background: url(/assets/filetypes/picture.png) left top no-repeat; }
.jqueryFileTree LI.ext_tiff { background: url(/assets/filetypes/picture.png) left top no-repeat; }
.jqueryFileTree LI.ext_txt { background: url(/assets/filetypes/txt.png) left top no-repeat; }
.jqueryFileTree LI.ext_vb { background: url(/assets/filetypes/code.png) left top no-repeat; }
.jqueryFileTree LI.ext_wav { background: url(/assets/filetypes/music.png) left top no-repeat; }
.jqueryFileTree LI.ext_wmv { background: url(/assets/filetypes/film.png) left top no-repeat; }
.jqueryFileTree LI.ext_xls { background: url(/assets/filetypes/xls.png) left top no-repeat; }
.jqueryFileTree LI.ext_xml { background: url(/assets/filetypes/code.png) left top no-repeat; }
.jqueryFileTree LI.ext_zip { background: url(/assets/filetypes/zip.png) left top no-repeat; }