- if @profession.new_record?
  - url = professions_path
- else
  - url = profession_path(@profession)
  
= simple_form_for @profession, {:html => {:class => "guarded_form form-horizontal"}, :url => url} do |f| 
  = f.input :name, :required => false, :input_html => { :class => 'span4' }
  %br
  = f.submit "Beruf speichern", :class => "guarded_form_save btn btn-primary"


