.search
  .search-block
    .datepicker
      height: 15px 
    margin: 0 15px 15px 0
    //white-space: nowrap
    float: left
    display: inline-block
    background-color: #f0f0f0
    padding: 10px 30px 10px 10px
    border-radius: 10px
    .search-header
      padding-top: 5px
      height: 30px
      background-color: 10px
    .search-operator
      float: left
      margin-right: 10px
      input, select
        height: 25px
    
    .close-search-field
      margin-right: -20px
      float: right
      margin-top: -2px
    .close-search-field a
      color: #000
      &:hover
        text-decoration: none

.translation_missing
  background-color: red

.searchinfo
  clear: both
  padding-top: 30px
  
.deleted
  text-decoration: line-through
  color: gray
  a
    color: gray

.import_inactive
  color: gray
  a
    color: gray
