Sie haben sich zu folgenden Terminen angemeldet:

%br
%br


/ todo: continue here - confirmation page, participation creation - nicer layout

- current_user.registered_sessions.each do |s|
  = s.start_at.to_date
  = s.start_at.strftime("%H:%M")+"-"+s.end_at.strftime("%H:%M")
  
  = s.location.name
  %br
  Status: unbestätigt
   
  %br
  %br
  