%br
= render :partial => "layouts/tabs",                                                                            |
           :locals => {                                                                                         |
             :selected => selected,                                                                             |
             :links => [                                                                                        |
               {:title => "Datenüberblick", :url => account_data_path},                                                |
               {:title => "Alternative E-Mail", :url=>account_alternative_email_path},                          |
               {:title => "Passwort", :url => edit_user_registration_path},                                            |
               {:title => "Telefonnummer", :url => account_phone_path}                                            |
             ]                                                                                                  |
           }                                                                                                    |

