= content_for :breadcrumb do
  %ul.breadcrumb
    %li
      =link_to "Login-Bereich", :controller => "account", :action => "index"
      %span.divider
        &gt;
    %li.active
      Willkommen



= render :partial => "shared/future_sessions", :locals => {:user => current_user}


  