= content_for :breadcrumb do
  %ul.breadcrumb
    %li
      =link_to "Login-Bereich", :controller => "account", :action => "index"
      %span.divider
        &gt;
    %li.active
      Account-Optionen

%h3 Account-Optionen

= render :partial => "tabs", :locals => {:selected => "Passwort"} 

%h3 Passwort ändern
