= content_for :breadcrumb do
  &gt;
  =link_to "Administration", :controller => "admin", :action => "index"
  &gt;
  Einstellungen
  
= render :partial => "options/tabs", :locals => {:selected => 1}

%br
%br
%br