- if object.errors.any?
  .alert.alert-error
    %a.close{:'data-dismiss' => 'alert'}
      &#215;
    %ul
      - object.errors.full_messages.each do |msg| 
        = content_tag :li, msg, :id => "error_#{msg}" if msg.is_a?(String) 
