.menu
  - if can? :manage, :all
    Admin-Menü
    %br
    %br
    = link_to "Startseite", admin_path
    %br
    = link_to "Experimente", experiments_path
    %br
    = link_to "Benutzer", users_path
    %br
    = link_to "Einstellungen", options_path
  - else
    Menü