.navbar.navbar-fixed-top
  .navbar-inner
    .container
      - if user_signed_in? 
        = link_to "Logout", logout_path, :method => :delete, :id => "logout", :class => "btn btn-small pull-right"
        
        %ul.nav.pull-right
          
          - if current_user.admin?
            - count = Recipient.where('sent_at IS NULL').count
            - if count > 0 
              %li
                %p.navbar-text
                  Mailqueue
                  %span.badge.badge-info=count
              %li.divider-vertical
          %li
            %p.navbar-text
              Eingeloggt als
              = current_user.email
          %li.divider-vertical
      - else
        = link_to "Login", login_path, :class => "btn btn-small pull-right"
        %ul.nav.pull-right
          %li= link_to "Jetzt registrieren", register_path 
          %li.divider-vertical
      
      - if user_signed_in? 
        - if current_user.user?
          %a.brand{:href => account_url}
            hroot
        - else
          %a.brand{:href => dashboard_url}
            hroot  
      -else    
        %a.brand{:href => root_url}
          hroot
      %p.navbar-text
        Rekrutierungssystem für ökonomische Experimente
      
     
        